# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyc

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
*.cover
coverage.xml
nosetests.xml

# IDE
.idea/
.vscode/

# pyenv
.python-version

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pytype
.pytype/

# Sphinx documentation
docs/_build/
